<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="fonts/material-icon/css/material-design-iconic-font.min.css"
    />
    <link rel="stylesheet" href="/css/all.min.css" />
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-WJ5zFGpLqYgsa62uRg2P6Xszpsk1cM/jzNKHzxoUGK5Te2SdDufNwkqj5OEx59upj9JtnMO0t9nN2/xDxSZJjA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-WJ5zFGpLqYgsa62uRg2P6Xszpsk1cM/jzNKHzxoUGK5Te2SdDufNwkqj5OEx59upj9JtnMO0t9nN2/xDxSZJjA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      #mainBody {
        position: relative;
        font-family: "Inter", sans-serif;
        text-align: center;
        background-color: #0a1627;
        color: white;
      }
      #mainBody::before {
        background-image: url("./logo-color.png");
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 70%;
        background-attachment: fixed;
        background-position: center;
        z-index: -2;
      }
      #mainBody::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
      .CSSgal {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        height: 100%;
        margin: 0;
        font: 16px/1.3 sans-serif;
      }

      /*
PURE RESPONSIVE CSS3 SLIDESHOW GALLERY by Roko C. buljan
http://stackoverflow.com/a/34696029/383904
*/

      .CSSgal {
        position: relative;
        overflow: hidden;
        height: 100%; /* Or set a fixed height */
      }

      /* SLIDER */

      .CSSgal .slider {
        height: 100%;
        white-space: nowrap;
        font-size: 0;
        transition: 0.8s;
        /* padding: 20px */
      }

      /* SLIDES */

      .CSSgal .slider > * {
        font-size: 1rem;
        display: inline-block;
        white-space: normal;
        vertical-align: top;
        height: 100%;
        width: 100%;
        background: none 50% no-repeat;
        background-size: cover;
      }

      /* PREV/NEXT, CONTAINERS & ANCHORS */

      .CSSgal .prevNext {
        position: absolute;
        z-index: 1;
        top: 50%;
        width: 100%;
        height: 0;
      }

      .CSSgal .prevNext > div + div {
        visibility: hidden; /* Hide all but first P/N container */
      }

      .CSSgal .prevNext a {
        background: #fff;
        position: absolute;
        width: 60px;
        height: 60px;
        line-height: 60px; /* If you want to place numbers */
        text-align: center;
        opacity: 0.7;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
      }
      .CSSgal .prevNext a:hover {
        opacity: 1;
      }
      .CSSgal .prevNext a + a {
        left: auto;
        right: 0;
      }

      /* NAVIGATION */

      .CSSgal .bullets {
        position: absolute;
        z-index: 2;
        bottom: 0;
        padding: 10px 0;
        width: 100%;
        text-align: center;
      }
      .CSSgal .bullets > a {
        display: inline-block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-decoration: none;
        text-align: center;
        background: rgba(255, 255, 255, 1);
        -webkit-transition: 0.3s;
        transition: 0.3s;
      }
      .CSSgal .bullets > a + a {
        background: rgba(255, 255, 255, 0.5); /* Dim all but first */
      }
      .CSSgal .bullets > a:hover {
        background: rgba(255, 255, 255, 0.7) !important;
      }

      /* NAVIGATION BUTTONS */
      /* ALL: */
      .CSSgal > s:target ~ .bullets > * {
        background: rgba(255, 255, 255, 0.5);
      }
      /* ACTIVE */
      #s1:target ~ .bullets > *:nth-child(1) {
        background: rgba(255, 255, 255, 1);
      }
      #s2:target ~ .bullets > *:nth-child(2) {
        background: rgba(255, 255, 255, 1);
      }
      #s3:target ~ .bullets > *:nth-child(3) {
        background: rgba(255, 255, 255, 1);
      }
      #s4:target ~ .bullets > *:nth-child(4) {
        background: rgba(255, 255, 255, 1);
      }
      /* More slides? Add here more rules */

      /* PREV/NEXT CONTAINERS VISIBILITY */
      /* ALL: */
      .CSSgal > s:target ~ .prevNext > * {
        visibility: hidden;
      }
      /* ACTIVE: */
      #s1:target ~ .prevNext > *:nth-child(1) {
        visibility: visible;
      }
      #s2:target ~ .prevNext > *:nth-child(2) {
        visibility: visible;
      }
      #s3:target ~ .prevNext > *:nth-child(3) {
        visibility: visible;
      }
      #s4:target ~ .prevNext > *:nth-child(4) {
        visibility: visible;
      }
      /* More slides? Add here more rules */

      /* SLIDER ANIMATION POSITIONS */

      #s1:target ~ .slider {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
      }
      #s2:target ~ .slider {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
      }
      #s3:target ~ .slider {
        transform: translateX(-200%);
        -webkit-transform: translateX(-200%);
      }
      #s4:target ~ .slider {
        transform: translateX(-300%);
        -webkit-transform: translateX(-300%);
      }
      /* More slides? Add here more rules */

      /* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

      .CSSgal {
        padding: 0px;
        position: relative;
        background-color: rgba(255, 255, 255, 0.13);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 40px;
        overflow: hidden;
        display: flex;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
        border-radius: 5px;
        color: #fff;
        text-align: center;
      }
      .CSSgal .slider h2 {
        margin-top: 40vh;
        font-weight: 200;
        letter-spacing: -0.06em;
        word-spacing: 0.2em;
        font-size: 3em;
      }
      .CSSgal a {
        border-radius: 50%;
        margin: 0 3px;
        color: rgba(0, 0, 0, 0.8);
        text-decoration: none;
      }
      .CSSgal .slider {
        background-size: cover;
        background-position: center;
      }
      .CSSgal .slider .image {
        background-position: center;
        max-width: 100%; /* Maintain the original width */
        max-height: 100%;
        border-radius: 5px;
        margin-right: 20px;
        padding: 20px;
        padding-right: 20px; /* Add margin to create space between images */
      }

      /* Adjust the margin for the last image to avoid extra space */
      .CSSgal .slider > div:last-child .image {
        padding-right: 20px;
        padding-left: 20px; /* Remove right margin for the last image */
      }
      @import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
      .new {
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.13);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
        border-radius: 12px;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center;
        text-align: center;
        margin-bottom: 60px;
      }

      .new h3 {
        font-size: 34px; /* Adjust heading size as needed */
        margin-bottom: 20px;
        font: bold;
        color: #ffffff;
        font-family: cursive;
        font-weight: 900;
        border-bottom: 2px solid #fe0039;
      }

      .card-row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap; /* Allow wrapping if necessary */
        gap: 30px; /* Space between cards */
        max-width: 100%; /* Adjust max-width to fit the container */
      }

      .card-container {
        flex: 1 1 calc(33.33% - 20px); /* Adjust card width */
        background-color: rgba(111, 223, 248, 0.715);
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        max-width: 500px; /* Adjust max-width to avoid stretching */
        margin-bottom: 20px;
      }
      .card-container:hover {
        transform: scale(1.125);
        filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
        transition: all 0.3s ease;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.215);
      }

      .new .card-container {
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(91, 91, 91, 0.074);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
        padding: 38px;
        filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative; /* Add position relative */
      }

      .new .wrapper {
        width: 100%;
        height: 100%;
      }

      .new .banner-image {
        background-position: center;
        background-size: cover;
        height: 200px;
        width: 100%;
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.255);
      }

      .new h1 {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        color: rgba(255, 255, 255, 0.98);
        text-transform: uppercase;
        font-size: 2.4rem;
        margin-top: 20px; /* Add margin-top */
      }

      .new p {
        color: #fff;
        font-family: "Lato", sans-serif;
        text-align: center;
        font-size: 0.8rem;
        line-height: 150%;
        letter-spacing: 2px;
        text-transform: uppercase;
      }

      .new .button-wrapper {
        margin-top: 18px;
      }

      button {
        border: none;
        padding: 12px 24px;
        border-radius: 24px;
        font-size: 12px;
        font-size: 0.8rem;
        letter-spacing: 2px;
        cursor: pointer;
      }

      button + button {
        margin-left: 10px;
      }

      .new .outline {
        background: transparent;
        color: rgba(0, 212, 255, 0.9);
        border: 1px solid rgba(0, 212, 255, 0.6);
        transition: all 0.3s ease;
      }

      .new .outline:hover {
        transform: scale(1.125);
        color: rgba(255, 255, 255, 0.9);
        border-color: rgba(255, 255, 255, 0.9);
        transition: all 0.3s ease;
      }

      .new .fill {
        background: rgba(0, 212, 255, 0.9);
        color: rgba(255, 255, 255, 0.95);
        filter: drop-shadow(0);
        font-weight: bold;
        transition: all 0.3s ease;
      }

      .new .fill:hover {
        transform: scale(1.125);
        border-color: rgba(255, 255, 255, 0.9);
        filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
        transition: all 0.3s ease;
      }
      #women .card-container {
        background-color: rgba(254, 1, 81, 0.211);
      }
      #men .card-container {
        background-color: rgba(30, 128, 35, 0.19);
      }
      #kids .card-container {
        background-color: rgba(254, 246, 1, 0.164);
      }
      #arrivals .card-container {
        background-color: rgba(213, 2, 255, 0.133);
      }
    </style>
  </head>
  <body id="mainBody">
    <%- include("./header.ejs") %>
    <div class="CSSgal">
      <!-- Don't wrap targets in parent -->
      <s id="s1"></s>
      <s id="s2"></s>
      <s id="s3"></s>
      <s id="s4"></s>

      <div class="slider">
        <div>
          <img
            class="image"
            style="border-radius: 5px"
            src="https://static.vecteezy.com/system/resources/previews/023/850/531/original/great-discount-sale-banner-design-in-3d-illustration-on-blue-background-sale-word-balloon-on-podium-with-credit-card-shopping-bag-and-gift-design-elements-vector.jpg"
          />
        </div>
        <div>
          <img class="image" style="border-radius: 5px" src="./b5.png" />
        </div>
        <div>
          <img class="image" style="border-radius: 5px" src="./b3.png" />
        </div>
        <div>
          <img class="image" style="border-radius: 5px" src="./b4.png" />
        </div>
      </div>

      <div class="prevNext">
        <div><a href="#s4"></a><a href="#s2"></a></div>
        <div><a href="#s1"></a><a href="#s3"></a></div>
        <div><a href="#s2"></a><a href="#s4"></a></div>
        <div><a href="#s3"></a><a href="#s1"></a></div>
      </div>

      <div class="bullets">
        <a href="#s1">1</a>
        <a href="#s2">2</a>
        <a href="#s3">3</a>
        <a href="#s4">4</a>
      </div>
    </div>
    <div class="new" id="arrivals">
      <h3>NEW ARRIVALS</h3>
      <div class="card-row">
        <div class="card-container">
          <div class="wrapper">
            <div
              class="banner-image"
              style="
                background-image: url(https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcSHCgSdjGajeDrrMVTVa3A3IKtgAkMtPAm_kYPCdgeVLPyXrhVvTv7kNXp6_1IdWU9IuDxGc3wDHuHwekCNCUPgiZifYj5Ze6Tc7ShIxt8TbIX0lH0wIlLbnZM&usqp=CAE);
              "
            ></div>
            <h1>DOROTHY PERKINS</h1>
            <p>Formal Slim Heeled Pumps</p>
          </div>
          <div class="button-wrapper">
            <button class="outline" style="border-radius: 24px">DETAILS</button>
            <button class="fill" style="border-radius: 24px">BUY NOW</button>
          </div>
        </div>
        <div class="card-container">
          <div class="wrapper">
            <div
              class="banner-image"
              style="
                background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlYfqtK5Wh9ej5H52Mixw-cfT7S6JJG1n8mA&s);
              "
            ></div>
            <h1>Nike cap</h1>
            <p>Nike cap men's and women's simple embroidery letters.</p>
          </div>
          <div class="button-wrapper">
            <button class="outline" style="border-radius: 24px">DETAILS</button>
            <button class="fill" style="border-radius: 24px">BUY NOW</button>
          </div>
        </div>
        <div class="card-container">
          <div class="wrapper">
            <div
              class="banner-image"
              style="
                background-image: url(https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQUcmhfI7ELzoPfBzPYo-RJZaVBVxgq85oEvmgFj17og-DLmWEUOc4AnPq19K2Sl6l7ZpAdnP8_JnFTZjKKslyc_R1PoWWARJNxEp-vZV0&usqp=CAE);
              "
            ></div>
            <h1>the Aurous</h1>
            <p>The Aurous Windstorm Carbon Black Laceup Sneakers</p>
          </div>
          <div class="button-wrapper">
            <button class="outline" style="border-radius: 24px">DETAILS</button>
            <button class="fill" style="border-radius: 24px">BUY NOW</button>
          </div>
        </div>
      </div>
    </div>
    <div class="new" id="women">
      <h3>WOMEN</h3>
      <div class="card-row">
        <div class="card-container">
          <div class="wrapper">
            <div
              class="banner-image"
              style="
                background-image: url(https://www.bunaai.com/cdn/shop/products/buydressesonlineindia-05770.jpg?v=1661756542&width=360);
              "
            ></div>
            <h1>U & F</h1>
            <p>BUNAAI AMARA BELT COTTON MAXI DRESS</p>
          </div>
          <div class="button-wrapper">
            <button class="outline" style="border-radius: 24px">DETAILS</button>
            <button class="fill" style="border-radius: 24px">BUY NOW</button>
          </div>
        </div>
        <div class="card-container">
          <div class="wrapper">
            <div
              class="banner-image"
              style="
                background-image: url(https://img3.junaroad.com/uiproducts/17761614/zoom_0-1628004770.jpg);
              "
            ></div>
            <h1>Necklace</h1>
            <p>White Stones Necklace & Earring Set</p>
          </div>
          <div class="button-wrapper">
            <button class="outline" style="border-radius: 24px">DETAILS</button>
            <button class="fill" style="border-radius: 24px">BUY NOW</button>
          </div>
        </div>
        <div class="card-container">
          <div class="wrapper">
            <div
              class="banner-image"
              style="
                background-image: url(https://www.bunaai.com/cdn/shop/products/buydressesonlineindia-06549.jpg?v=1661815369&width=360);
              "
            ></div>
            <h1>Bunaai</h1>
            <p>BUNAAI OLIVIA COTTON MAXI DRESS</p>
          </div>
          <div class="button-wrapper">
            <button class="outline" style="border-radius: 24px">DETAILS</button>
            <button class="fill" style="border-radius: 24px">BUY NOW</button>
          </div>
        </div>
      </div>
    </div>
    <div class="new" id="men">
      <h3>MEN</h3>
      <div class="card-row">
        <div class="card-container">
          <div class="wrapper">
            <div
              class="banner-image"
              style="
                background-image: url(https://rukminim2.flixcart.com/image/850/1000/jm0wscw0/shirt/3/f/n/m-ussh5600-u-s-polo-assn-original-imaf8n73khsv5wj6.jpeg?q=90&crop=false);
              "
            ></div>
            <h1>U.S. POLO ASSN.</h1>
            <p>Men Regular Fit Solid <br />Spread Collar Casual Shirt</p>
          </div>
          <div class="button-wrapper">
            <button class="outline" style="border-radius: 24px">DETAILS</button>
            <button class="fill" style="border-radius: 24px">BUY NOW</button>
          </div>
        </div>
        <div class="card-container">
          <div class="wrapper">
            <div
              class="banner-image"
              style="
                background-image: url(https://www.titan.co.in/dw/image/v2/BKDD_PRD/on/demandware.static/-/Sites-titan-master-catalog/default/dw1888ad40/images/Titan/Catalog/1805QM01_1.jpg?sw=800&sh=800);
              "
            ></div>
            <h1>TITAN</h1>
            <p>
              Neo Splash Blue Dial Quartz <br />Multifunction Stainless Steel
              Strap
            </p>
          </div>
          <div class="button-wrapper">
            <button class="outline" style="border-radius: 24px">DETAILS</button>
            <button class="fill" style="border-radius: 24px">BUY NOW</button>
          </div>
        </div>
        <div class="card-container">
          <div class="wrapper">
            <div
              class="banner-image"
              style="
                background-image: url(https://assets.ajio.com/medias/sys_master/root/20240411/cHCa/6617bb4e05ac7d77bb031e83/bombay_begum_black_men_regular_fit_shirt_with_short_sleeves.jpg);
              "
            ></div>
            <h1>BOMBAY BEGUM</h1>
            <p>Men Regular Fit Shirt with <br />Short Sleeves</p>
          </div>
          <div class="button-wrapper">
            <button class="outline" style="border-radius: 24px">DETAILS</button>
            <button class="fill" style="border-radius: 24px">BUY NOW</button>
          </div>
        </div>
      </div>
    </div>
    <div class="new" id="kids">
      <h3>KIDS</h3>
      <div class="card-row">
        <div class="card-container">
          <div class="wrapper">
            <div
              class="banner-image"
              style="
                background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhgBE-0xc9sp-GUCSEMD94G-hMFOC7GJB_Mw&s);
              "
            ></div>
            <h1>Blue Gown</h1>
            <p>Blue coloured net Sleeves gown for girls.</p>
          </div>
          <div class="button-wrapper">
            <button class="outline" style="border-radius: 24px">DETAILS</button>
            <button class="fill" style="border-radius: 24px">BUY NOW</button>
          </div>
        </div>
        <div class="card-container">
          <div class="wrapper">
            <div
              class="banner-image"
              style="
                background-image: url(https://m.media-amazon.com/images/I/81AY+9xBiJL._SX695_.jpg);
              "
            ></div>
            <h1>Kata shoes</h1>
            <p>Pink lace shoes for boys and girls.</p>
          </div>
          <div class="button-wrapper">
            <button class="outline" style="border-radius: 24px">DETAILS</button>
            <button class="fill" style="border-radius: 24px">BUY NOW</button>
          </div>
        </div>
        <div class="card-container">
          <div class="wrapper">
            <div
              class="banner-image"
              style="
                background-image: url(https://cpimg.tistatic.com/08799268/b/4/EVA-Kids-Footwear.jpeg);
              "
            ></div>
            <h1>EVA footwear</h1>
            <p>blue colour comfortable crocs for kids</p>
          </div>
          <div class="button-wrapper">
            <button class="outline" style="border-radius: 24px">DETAILS</button>
            <button class="fill" style="border-radius: 24px">BUY NOW</button>
          </div>
        </div>
      </div>
    </div>
    <%- include("./footer.ejs") %>
  </body>
</html>
